body {
    background-color: grey;
}

.flex-parent {
    display: flex;
}


.flex-child {
    font-family: sans-serif;
    font-size: 28px;
}


#start-input {
    align-content: center;
}

.story-intro {
    font-family: sans-serif;
    font-size: 20px;
}

.intro {
    font-size: 28px;
}



button:hover {
    border-color: black;
    background-color: grey;
}

/* Buttons styled with help by https://getcssscan.com/css-buttons-examples */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}






/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(117, 117, 117);  
}

.title {
    position: top;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-20%);    
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-20%);    
}

/* Animation ---> https://css-tricks.com/snippets/css/typewriter-effect/ */
.anim-typewriter{
  animation: typewriter 4s steps(44)  1 normal both,
             blinkTextCursor 50ms steps(5) infinite normal;
}
@keyframes typewriter{
  from{width: 0};
  to{width: 24em};
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75)};
  to{border-right-color: transparent};
}






.character {
    display: flex;
    width: 20px;
    height: 39px;
    background: red;
    overflow: hidden;
}

.character_spritesheet {
    animation: moveSpritesheet 1s steps(17) infinite;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}